<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Exception Handler 사용하기</h1>

    <h2>local Exception handler</h2>
    <h3>@ExceptionHandler</h3>
    <button onclick="location.href='controller-null'">Null pointerException 테스트</button>
    <h3>@MemeberRegistException</h3>
    <button onclick="location.href='controller-user'">MemberReigstException 테스트</button>

    <hr>
    <h2>global Exception handler</h2>
    <a href="other-controller-null">global null pointer</a>
    <a href="other-controller-user">global custom Exception</a>
    <a href="other-controller-array">global Exception</a>



<!--   controller-null 여기에 대응하는 서블릿이 있어야만 어플리케이션이 동작이 됨 -->

<!--서버는 클라이언트의 요청이 있어야만 응답할수 있음 요청은 리퀘스트로 보냄 리퀘스트는 http tcp/ip라는 통신규칙이라는 프로토콜로
데이터를 보냄
클라이언트가 요청을 날릴떄 리소스로 구분함 거기에 대응되는 서블릿이 존재해야됨 그 역할을 컨트롤러가 함
tcp/ip와 udp의 차이 udp는 초고속 신뢰성있는거 문제는 전용망을 이용해 통신해야됨
tcp/ip는 인터넷망을 이용해 데이터손실을 감안하고 통신을 씀 web은 tcp/ip사용함
사람은 말을 전달할때 모든걸 듣지않고 키워드만 들었을떄 대략적으로 짐작할수있고 대답할수있음
알집의 경우 데이터손실이 조금이라도 나면 안됨-->

<!--<script>-->
<!--    const message = `[[${message}]]`;-->
<!--    if(message){ //if message가 값이 null이 아니면 true-->
<!--        alert(message);-->
<!--    }-->
<!--</script>-->
</body>
</html>