<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.pospos.menu.model.MenuDAO">
    <resultMap id="menuResult" type="com.ohgiraffers.pospos.menu.dto.MenuDTO">
        <id property="code" column="MENU_CODE"/>
        <id property="name" column="MENU_NAME"/>
        <id property="price" column="MENU_PRICE"/>
        <id property="categoryCode" column="CATEGORY_CODE"/>
        <id property="status" column="ORDERABLE_STATUS"/>   
    </resultMap>
    <select id="selectAllMenu" resultMap="menuResult">
        SELECT
            *
          FROM TBL_MENU
         WHERE ORDERABLE_STATUS = 'Y'
    </select>

    <select id="searchMenu" resultMap="menuResult">
        SELECT
        *
        FROM TBL_MENU
        WHERE
        MENU_CODE = #{code}
    </select>

    <insert id="insertMenu" parameterType="com.ohgiraffers.pospos.menu.dto.MenuDTO">
        INSERT INTO TBL_MENU
        (
        MENU_CODE,
        MENU_NAME,
        MENU_PRICE,
        CATEGORY_CODE,
        ORDERABLE_STATUS
        ) VALUES (
        NULL,
        #{name},
        #{price},
        #{categoryCode},
        'Y'
<!--        #{status}-->
        )
    </insert>

    <update id="updateMenu" parameterType="com.ohgiraffers.pospos.menu.dto.MenuDTO">
        UPDATE TBL_MENU
        SET
        MENU_CODE = #{code},
        MENU_NAME = #{name},
        MENU_PRICE = #{price},
        CATEGORY_CODE = #{categoryCode},
        ORDERABLE_STATUS = 'Y'
        WHERE
        MENU_CODE = #{code}
    </update>
    <delete id="deleteMenu" parameterType="com.ohgiraffers.pospos.menu.dto.MenuDTO">
        DELETE FROM TBL_MENU
        WHERE MENU_CODE = #{code}
    </delete>
</mapper>